{"name":"expo-react-native-google-mobile-ads-demo","slug":"expo-react-native-google-mobile-ads-demo","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"updates":{"fallbackToCacheTimeout":0},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"com.chelseafarley.exporeactnativegooglemobileadsdemo"},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#FFFFFF"}},"web":{"favicon":"./assets/favicon.png"},"sdkVersion":"45.0.0","platforms":["ios","android","web"],"currentFullName":"@chelseafarley/expo-react-native-google-mobile-ads-demo","originalFullName":"@chelseafarley/expo-react-native-google-mobile-ads-demo"}